.my_search img:first-child{
    width: 70px;
}

.my_search img:nth-child(2){
    width: 175px;
}

.my_bg-blu{
    background-color: #1b72e8;
    height: 260px;
}

.my_bg-lightgrey{
    background-color: #f7f7f7;
}

.my_bg-lightgrey2{
    background-color: #f8f9fa;
}

.my_right-search{
    width: fit-content;
}

.my_nav{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    height: calc(100vh - 70px);
    width: 70px;
    /* ----md size--- */
    /* width: 170px; */
}

.my_nav-bot:hover{
    background-color: #e5e5e5b0;
    cursor: pointer;
}

#offcanvasRight{
    width: 40%;
}

.my_center{
    height: calc(100vh - 70px);
    overflow: auto;
}

.my_bottom{
    bottom: 1.5rem;
}

span.my_pillbg{
    background-color: #165bba;
}

.my_row{
    width: 75px;
    text-align: center;
}

.my_row2{
    width: 105px;
    text-align: center;
}

tbody tr>td:nth-last-child(-n + 4){
    text-align: center;
}

td img{
    width: 25px;
}

.my_chart img{
    width: 100%;
}

.my_test1{
    height: 200px;
    border: 2px dashed red;
}

@media screen and (min-width: 768px) {
    
    .my_bg-blu{
        background-color: #1b72e8;
        height: 120px;
    }

    .my_nav{
        width: 170px;
    }
}
